.popup__title {
    padding: 33px 0 8px 33px;
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

@media (max-width: 767px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        padding: 23px 0px 39px 19px;
    }
}