.profile__about {
    margin: 0;
    max-width: 336px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__about {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: 0;
        max-width: 249px;
    }
}
