.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px 17px;
    grid-template-rows: auto;
    justify-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cards:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}