.profile__edit-button {
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background: url(../../../images/editbutton.svg) no-repeat center;
    margin-left: 18px;
    margin-top: 8px;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin: 3px 0 0 10px;
        
    }
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}