.cards__delete-photo {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    width: 18px;
    height: 19px;
    border: none;
    background-image: url('../../../images/delete.svg');
    background-color: transparent;
}

.cards__delete-photo:hover {
    opacity: 0.6;
    cursor: pointer;
}
