.popup__form {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 31px 0 40px 33px;
}

@media (max-width: 767px) {
    .popup__form {
        padding: 24px 0 25px 19px;
    }
}